<!DOCTYPE html>
<html>
  <head>
    <title>Order</title>
    <link rel="icon" type="image/x-icon" href="<%= image_url('splash/scale-balanced-solid.svg') %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.cloud = "<%= image_url('splash/clouds.svg') %>";
      window.shoePeople = "<%= image_url('splash/shoePeople.svg') %>";
      window.barPeople = "<%= image_url('splash/barPeople.svg') %>";
      window.userAvatar = "<%= image_url('users/pngegg.png') %>"
      window.gear = "<%= image_url('users/211751_gear_icon.png') %>"
      window.wumpus = "<%= image_url('splash/wumpus.svg') %>"
      window.people = "<%= image_url('users/computer-icons-like-button-friends-icon-a082650e67c59975c41e17734b7c8a2d.png') %>"
      window.chill = "<%= image_url('splash/chill.svg') %>"
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    

  <meta property="og:title" content="Order"/>
  <meta property="og:image" content="<%= image_url('readme/OrderScreenShot.png') %>" />
  <meta property="og:description"
    content="Order is a clone of Discord, a live chat web application. Order uses Ruby on Rails on the backend and React/Redux on the frontend. Redis is used for websocket management."
  />
  <meta property="og:url"
    content="https://app-order-vitovitch.herokuapp.com/"
  />


  </head>

  <body>
    <%= yield %>
  </body>
</html>
