<!DOCTYPE html>
<html>
  <head>
    <title>Order</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.cloud = "<%= image_url('splash/clouds.svg') %>";
      window.shoePeople = "<%= image_url('splash/shoePeople.svg') %>";
      window.barPeople = "<%= image_url('splash/barPeople.svg') %>";
      window.userAvatar = "<%= image_url('users/pngegg.png') %>"
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <% if logged_in? %>
      <script type= "text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe%>
      </script>
    <% end %>

  <meta property="og:title" content="Order"/>
  <meta property="og:image" content=<%= image_url('/readme/OrderScreenShot.png') %>/>
  <meta property="og:description"
    content="Order is a clone of Discord, a live chat web application. Order uses Ruby on Rails on the backend and React/Redux on the frontend. Redis is used for websocket management."
  />
  <meta property="og:url"
    content="https://app-order-vitovitch.herokuapp.com/"
  />


  </head>

  <body>
    <%= yield %>
  </body>
</html>
